#title {
    -fx-font-size: 60;
}

#startTimerButton, #stopTimerButton, #resetTimerButton, #switchFocusBreakButton {
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-border-width: 3;
    -fx-background-color: "black";
}

#timerLabel {
    -fx-font-size: 100;
}

.digit-label {
    -fx-font-size: 100;
    -fx-font-family: "monospace";
}

#footer-container {
    -fx-padding: 20;
}

.button-icon, #toggleMuteButton {
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-color: transparent;
    -fx-background-position: center;
}

#calendarIcon {
    -fx-background-image: url("../images/calendar-icon.png");
}

#settingsIcon {
    -fx-background-image: url("../images/settings-icon.png");
}

.muted {
    -fx-background-image: url("../images/mute-sound-icon.png");
}

.unmuted {
    -fx-background-image: url("../images/sound-icon.png");
}