.root {
    -fx-background-color: #D3D3D3;
}

#timeLabel {
    -fx-background-color: white;
    -fx-font-size: 140;
    -fx-padding: 0 25;
    -fx-border-color: black;
    -fx-border-width: 3;
}

#date-container {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 3;
}

#dayOfMonthLabel {
    -fx-font-size: 100;
    -fx-padding: 0 15;
}

#monthOfYearLabel {
    -fx-background-color: #F88379;
    -fx-font-size: 40;
    -fx-text-fill: white;
    -fx-max-width: infinity;
}